.aboutus-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.experience-section h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.experience-section p {
	text-align: center;
	max-width: 70vw;
	margin: 0 auto 40px;
}

.stats-container {
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.stat-item {
	text-align: center;
}

.stat-item h2 {
	margin: 0;
}

.stat-item h4 {
	margin: 5px 0 0;
}

.team-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	margin-bottom: 5rem;
}

.team-section h2 {
	margin-bottom: 1rem;
}

.team-section p {
	text-align: center;
	margin-bottom: 2rem;
}

.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
	margin-top: 3rem;
}

.team-member {
	width: calc(30% - 1rem);
	text-align: center;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-member img {
	width: 160px;
	height: 160px;
	object-fit: cover;
	border: 1px solid transparent;
    background-image: linear-gradient(to right, #848484ee, #d9d9d94d);
    background-origin: border-box;
    padding: 1px; 
	border-radius: 0.8rem;
}

.team-member span:nth-child(2) {
    margin-top: 1rem;
}

.team-member span:nth-child(3) {
    margin-top: 0.2rem;
}


@media (max-width: 479px) {
    .stats-container {
		flex-direction: column;
		margin-top: 8rem;
	}

	.stat-item h2 {
		font-size: 4rem;
	}

	.team-members {
		flex-direction: column;
	}

	.team-member {
		width: 100%;
	}

	.team-member img {
		width: 250px;
		height: 250px;
	}

}

@media (min-width: 480px) and (max-width: 767px) {
	.stats-container {
		flex-direction: column;
		margin-top: 8rem;
	}

	.stat-item h2 {
		font-size: 4rem;
	}

	.team-members {
		flex-direction: column;
	}

	.team-member {
		width: 100%;
	}

	.team-member img {
		width: 250px;
		height: 250px;
	}
}

/* 
@media (min-width: 768px) and (max-width: 991px) {
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  
} */