.home-container {
	color: #fff;
	padding: 0 1rem;
	margin-left: 6rem;
	margin-right: 6rem;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 90vh;
}

.main-title {
	color: #fff;
}

.main-subtitle {
	font-size: 1rem;
	color: #fff;
}

.start-project {
	display: inline-block;
	padding: 8px 16px;
	margin-top: 60px;
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	transition: background-color 0.6s ease;
	border: 1px solid white;
}

.start-project:hover {
	color: white;
	background-color: transparent;
	border: 1px solid white;
}

.start-project .arrow {
	transition: transform 0.6s ease, filter 0.6s ease;
}

.start-project:hover .arrow {
	transform: rotate(45deg);
	filter: brightness(0) invert(1);
}

.showcase {
	text-align: center;
	padding: 0rem 1rem;
	margin-top: 5rem;
}

.showcase h2 {
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.showcase p {
	color: #ccc;
	margin-bottom: 2rem;
}

/* Showcase Card */
.showcase-card {
	display: flex;
	background: #22222267;
	border-radius: 20px;
	padding: 2rem;
	margin: 0 auto;
	border: 1px solid #ffffff48;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all 0.8s ease-in-out;
}

.showcase-card:hover {
	background: linear-gradient(to top right, transparent, #e0dddd50);
}

/* Image Section */
.project-image {
	flex: 2;
	place-self: center;
}

.project-image img {
	width: 600px;
	max-height: 400px;
	object-fit: cover;
	border-radius: 20px;
	border: 1px solid #ffffff48;
}

.project-info {
	flex: 1;
	color: #fff;
	text-align: center;
	place-self: center;
}

.project-info span {
	font-size: 1rem;
	color: #ccc;
	text-align: center;
}

@media (max-width: 768px) {

	.home-container {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.main-section {
		padding-top: 8rem;
	}

	.main-title {
		font-size: 4rem;
		line-height: 4rem;
	}

	.showcase {
		display: flex;
		flex-direction: column;
		align-items: center;
		place-self: center;
	}

	.showcase-card {
		flex-direction: column;
		height: auto;
		padding: 0rem;
		min-width: 250px;
		background: #22222200;
		border: none;
		box-shadow: none;
	}

	.project-image {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	
	.project-image img {
		width: 100%;
	}

	.project-info {
		margin: 0px;
		padding-left: 0px;
		text-align: center;
	}

	.project-info h3 {
		font-size: 1.2rem;
		margin: 0rem;
	}

	.project-info span {
		font-size: 1rem;
		margin: 0rem;
	}
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  margin-top: 10rem;
  text-transform: uppercase;
}

.services h2 {
  margin-bottom: 2rem;
  color: #fff;
}

.buttons-container {
  width: 100%;
}

.btn-outline-light {
  position: relative;
  color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  border: 1px solid #ffffff48;
  width: 100%;
  height: 60px;
  padding: 0 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #e0dddd50, #0000006c);
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.4s ease;
  text-align: left; 
  cursor: pointer;
  
}

.btn-outline-light .text {
  transition: transform 0.4s ease;
}

.btn-outline-light img.icon {
  position: absolute; 
  right: 400px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 16px; 
  height: 16px; 
  transition: transform 0.4s ease, right 0.4s ease; 
}

.btn-outline-light:hover {
  color: #ffffff;
  background: linear-gradient(to right, #cccccc2a, #e0dddd50, #cccccc2a);
}

.btn-outline-light:hover .text {
  transform: translateX(-260px);
}

.btn-outline-light:hover img.icon {
  right: 60px;
  transform: translateY(-50%) rotate(45deg);
}

.icon {
  filter: invert(100%);
  margin-left: 0.5rem; 
  width: 16px; /* Icon width */
  height: 16px; /* Icon height */
  vertical-align: right; /* Align icon with the text */
}

/* Media Query: Extra Small Devices (max-width: 479px) */
@media (max-width: 479px) {
	.btn-outline-light {
		font-size: 1rem;
		height: 50px;
		padding: 0 1.5rem;
	}

	.btn-outline-light img.icon {
		right: 20px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-5px);
	}

	.btn-outline-light:hover img.icon {
		right: 20px;
		transform: translateY(-50%) rotate(45deg);
	}
}

/* Media Query: Small Devices (480px - 767px) */
@media (min-width: 480px) and (max-width: 767px) {
	.btn-outline-light {
		width: 100%;
	}

	.btn-outline-light img.icon {
		right: 50px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-10px);
	}

	.btn-outline-light:hover img.icon {
		right: 40px;
		transform: translateY(-50%) rotate(45deg);
	}
}

/* Media Query: Medium Devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
	.btn-outline-light {
    width: 100%;
	}

	.btn-outline-light img.icon {
		right: 80px;
	}
	.btn-outline-light:hover .text {
		transform: translateX(-20px);
	}

	.btn-outline-light:hover img.icon {
		right: 40px;
		transform: translateY(-50%) rotate(45deg);
	}

  .showcase-card {
		flex-direction: column;
		height: auto;
		padding: 0rem;
		min-width: 250px;
		background: #22222200;
		border: none;
		box-shadow: none;
	}

	.project-image {
		width: 100%;
		min-height: 280px;
		margin: 0px 0px 20px 0px;
	}

	.project-info {
		margin: 0px;
		padding-left: 0px;
		text-align: center;
	}

	.project-info h3 {
		font-size: 1.2rem;
		margin: 0rem;
	}

	.project-info span {
		font-size: 1rem;
		margin: 0rem;
	}
}

/* Media Query: Large Devices (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
	.btn-outline-light { 
    padding-left: 10rem;
  }

	.btn-outline-light img.icon {
		right: 200px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-50px);
	}

	.btn-outline-light:hover img.icon {
		right: 40px;
		transform: translateY(-50%) rotate(45deg);
	}

	
	
	/* Showcase Card */
	.showcase-card {
		gap: 1rem;
	}
	
	
	.project-image img {
		width: 450px;
		max-height: 400px;
		object-fit: cover;
		border-radius: 20px;
		border: 1px solid #ffffff48;
	}
	
	
}

/* Media Query: Extra Large Devices (1200px - 1600px) */
@media (min-width: 1200px) and (max-width: 1400px) {
	.btn-outline-light { 
    padding-left: 15rem;
  }

	.btn-outline-light img.icon {
		right: 280px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-80px);
	}

	.btn-outline-light:hover img.icon {
		right: 60px;
		transform: translateY(-50%) rotate(45deg);
	}
	
	.project-image img {
		width: 600px;
		max-height: 600px;
		object-fit: cover;
		border-radius: 20px;
		border: 1px solid #ffffff48;
	}
}

@media (min-width: 1401px) and (max-width: 1600px) {
	.btn-outline-light { 
    padding-left: 20rem;
  }

	.btn-outline-light img.icon {
		right: 400px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-80px);
	}

	.btn-outline-light:hover img.icon {
		right: 60px;
		transform: translateY(-50%) rotate(45deg);
	}

	
	.project-image img {
		min-width: 700px;
		width: auto;
		max-width: 1000px;
		max-height: 1400px;
		object-fit: cover;
		border-radius: 20px;
		border: 1px solid #ffffff48;
	}

	.project-info h3 {
		font-size: 3rem;
	}

	.project-info span {
		font-size: 1.2rem;
	}

}

@media (min-width: 1601px) and (max-width: 1800px) {
	.btn-outline-light { 
    padding-left: 25rem;
  }

	.btn-outline-light img.icon {
		right: 500px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-80px);
	}

	.btn-outline-light:hover img.icon {
		right: 60px;
		transform: translateY(-50%) rotate(45deg);
	}

	
	.project-image img {
		min-width: 700px;
		width: auto;
		max-width: 1000px;
		max-height: 1400px;
		object-fit: cover;
		border-radius: 20px;
		border: 1px solid #ffffff48;
	}

	.project-info h3 {
		font-size: 3rem;
	}

	.project-info span {
		font-size: 1.2rem;
	}

}

@media (min-width: 1801px) and (max-width: 2400px) {
	.btn-outline-light { 
    padding-left: 30rem;
  }

	.btn-outline-light img.icon {
		right: 600px;
	}

	.btn-outline-light:hover .text {
		transform: translateX(-80px);
	}

	.btn-outline-light:hover img.icon {
		right: 60px;
		transform: translateY(-50%) rotate(45deg);
	}

	.project-image img {
		min-width: 700px;
		width: auto;
		max-width: 1000px;
		max-height: 1400px;
		object-fit: cover;
		border-radius: 20px;
		border: 1px solid #ffffff48;
	}

	.project-info h3 {
		font-size: 3rem;
	}

	.project-info span {
		font-size: 1.2rem;
	}

}

