.service-container {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  padding: 0 1rem;
}

/* Hero Section */
.service-hero {
  text-align: left;
  padding: 5rem 1rem 5rem 15rem;
}

.service-hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.service-hero p {
  max-width: 800px;
  font-size: 1rem;
}

/* Service Cards */
.service-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff48;
  border-radius: 20px;
  padding: 4rem;
  margin: 12rem auto;
  width: 1200px;
  min-height: 400px;
  
}

.service-card:hover {
  transition: background 0.5s ease-in-out;
  background: linear-gradient(to top right, #22222267, #e0dddd50);
}

.service-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service-card p {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ccc;
}

.service-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.service-details div {
  display: flex;
  flex-direction: column;
}

.service-details h4 {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.service-details p {
  font-size: 0.9rem;
  color: #aaa;
  margin: 0;
}

/* Responsive for Mobile */
@media (max-width: 768px) {

  .service-hero{
    padding: 5rem 1rem;
  }
  .service-card {
    padding: 1.5rem;
    margin: 12rem auto;
    text-align: center;
    width: 240px;
    /* height: 1000px; */
  }

  .service-card h2 {
    font-size: 1.8rem;
    
  }

  .service-card p {
    font-size: 0.9rem;
    text-align: center;
    
  }

  .service-details {
    grid-template-columns: 1fr; /* Stack items */
    gap: 1rem;
  }

  .service-details div {
    margin-bottom: 1rem; /* Add spacing between items */
  }

  .service-hero h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .service-hero p {
    text-align: center;
    font-size: 0.9rem;
    padding: 2rem 0rem;
  }
}
