* {
  margin: 0;  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;

  overflow: hidden;
  position: relative;

  /* Radial glowing effect */
  background: 
    radial-gradient(circle 900px at right, #0e2686,  transparent 60%), 
    radial-gradient(circle 900px at bottom left, #c0c0c09d, transparent 70%);
  background-color: black; 


span, p {
  font-family: 'Syne', sans-serif;
}
}

@media (max-width: 479px) {
  body {
    background: 
    radial-gradient(circle 600px at right, #0e2686e6,  transparent 60%), 
    radial-gradient(circle 600px at bottom left, #c0c0c07b, transparent 50%);

    background-color: black; 
  }
}